@tailwind base;
@tailwind components;
@tailwind utilities;
.workspace {
    position: relative;
    background-image: 
        linear-gradient(to right, gray 0px, transparent 1px), 
        linear-gradient(to bottom, gray 0px, transparent 1px);
    background-size: 
        20px 20px, 
        20px 20px;
    background-position: 
        0 0, 
        0 0;
    background-repeat: repeat, repeat;
}

.workspace::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: 
        url('./svg/logo-02.svg'), 
        url('./svg/logo-02.svg'), 
        url('./svg/logo-02.svg'), 
        url('./svg/logo-02.svg'), 
        url('./svg/logo-02.svg');
    background-size: 
        220px 220px,  /* Top-right corner */
        220px 220px,  /* Top-left corner */
        220px 220px,  /* Bottom-left corner */
        220px 220px,  /* Bottom-right corner */
        220px 220px;  /* Center */
    background-position: 
        top left, 
        top right, 
        bottom left, 
        bottom right, 
        center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    opacity: 0.3; /* Adjust the opacity to control transparency of logos */
    pointer-events: none; /* Ensures the SVGs don't block interactions */
    z-index: 0; /* Ensures the pseudo-element is beneath any content */
}


